.setting__modal {
  width: 45vw;
  min-width: 440px;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxs);
  align-items: end;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 70vh;
  overflow-y: auto;

  & h2 {
    font-size: var(--text-desktop-subtitles-1);
    color: #1E2830;
  }

  & h3 {
    font-size: var(--text-desktop-subtitles-2);
    font-weight: 600;
    color: #1E2830;
  }

  & .fi {
    display: flex;
  }
}

.modal__background {
  background-color: #303030B3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.user-img__container {
  width: 100%;
  display: flex;
  gap: var(--gap-l);

  & .img-label__user {
    display: flex;
    gap: var(--gap-xxs);
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 75%;

    & select {
      width: 100%;
      padding: var(--gap-xs);
      margin: 0;
      background-color: #FFFFFF;
      border-radius: var(--r-xs);
      border-color: #666666;
      color: #333333;
    }
  }
}

.user-img__img {
  height: 80px;
  width: 80px;
  background-color: #B0B0B0;
  border-radius: 100px;
}

.user-passwd__container {
  margin-top: var(--gap-xs);
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
  width: 100%;
}

.passwrd__inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxxs);

  & .passwd__labels {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--gap-xs);
    color: #333333;
  }
}

.moda-settings__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
  align-items: start;
}

@media (max-width: 768px) {
  .setting__modal {
    width: 90vw;
    min-width: 0;
    max-width: 90vw;
    top: 10%;
    left: 5%;
    transform: translate(0, 0);
    max-height: 80vh;
    overflow-y: auto;
  }

  .modal__background {
    background-color: #303030B3;
  }

  .user-img__container,
  .user-passwd__container {
    flex-direction: column;
    align-items: center;
  }

  .user-img__img {
    margin-bottom: var(--gap-xs);
  }

  .passwrd__inputs {
    width: 100%;
  }
}